body {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.CurrentWeather{
    width: 85%;
    border-style: solid;
    display: none;
};

h3{
    width: 100%;
};

.sd{
    display: none;
}

.block {
    display: block;
}

.weather-icon{
    width: 5px;
    height: 5px
}